@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    font-family: 'Lexend Deca', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    padding-top: 5vh;
    height: calc(100vh - 5vh);
    background-color: rgb(58, 56, 56);
}

.image {
    position: relative;
    width: 100%;
    text-align: center;
    filter: drop-shadow(0px 4px 4px rgba(245, 243, 243, 0.25));
}

.image img{
    width: 150px;
}

.main-title h1{
    font-size: 60px;
    text-align: center;
    margin-top: 30px;
    color: whitesmoke;
}

h2{
    text-align: center;
    margin-top:30px;
    margin-bottom: 10px;
    font-size: 25px;
    color: whitesmoke;
}

p{
    opacity: 90%;
    text-align: center;
    font-size: 18px;
    color: whitesmoke;
}

form label{
    
    font-size: 19px;
    font-weight: bold;
    color: antiquewhite;


}

form{
    margin-top: 60px;
    position: relative;
}

form input{
    width: 500px;
    height: 35px;
    border: 1.5px solid whitesmoke;
    background-color: whitesmoke;
    margin-right: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    text-align: center;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#first-name{
    width: 244px;
}
#last-name{
    width: 244px;
}

#check-term{
    width: 25px;
}

label{
    position: relative;
    bottom: 6px;
}

.finish{
    border: .1rem rgb(58, 56, 56);
    color: rgb(8, 8, 8);
    background-color: #f5eff1;
    width: 500px;
    height: 50px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

.finish:hover{
    background-color:rgb(36, 34, 34) ;
    color: antiquewhite;
    border: solid .1rem whitesmoke;
    transition: .2s;
}

a{
    text-decoration: none;
    color: antiquewhite;
}