@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    font-family: 'Lexend Deca', sans-serif;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    background-color: whitesmoke;
}

.logo-button{
    width: 25px;
}

button{
    border: .1rem black solid;
    color: antiquewhite;
    background-color: #373435;
    width: 200px;
    height: 40px;
}

.image {
    position: relative;
    width: 100%;
    text-align: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.image img{
    position: relative;
    text-align: center;
    width: 180px;
}

.main-title h1{
    font-size: 96px;
    text-align: center;

}
.main-title p{
    margin-top: 15px;
}

.main-title{
    margin-top: 30px;
    width: 100%;
    text-align: center;
}