@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    font-family: 'Lexend Deca', sans-serif;
    margin: 0;
    padding: 0;
}
body{
    padding-top: 15vh;
    height: calc(100vh - 15vh);
    background-color: rgb(231, 225, 225);
}

.logo-button{
    width: 25px;
}

button{
    border: .1rem black solid;
    color: antiquewhite;
    background-color: #373435;
    width: 200px;
    height: 40px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

.image {
    position: relative;
    width: 100%;
    text-align: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.image img{
    position: relative;
    text-align: center;
    width: 180px;
}

.main-title{
    font-size: 96px;
    text-align: center;
    margin-top: 30px;

}
.main-title p{
    margin-top: 15px;
    font-size: 19px;
}


.buttons{
    margin-top: 100px;
    width: 100%;
    text-align: center;
}

button:hover{
    background-color: #252324;
}
